# ==========================================
# 1. PYTHON (ai-service)
# ==========================================
ai-service/venv/
**/__pycache__/
*.py[cod]

# ==========================================
# 2. NODE.JS / REACT (back-end & front-end)
# ==========================================
back-end/node_modules/
front-end/node_modules/

# Folder hasil build/produksi React
front-end/dist/
front-end/build/

# Log error bawaan npm
*.log

# ==========================================
# 3. SECURITY (Environment Variables)
# ==========================================
.env
back-end/.env
front-end/.env
ai-service/.env
back-end/.venv
front-end/.venv
ai-service/.venv

# ==========================================
# 4. OS / IDE SYSTEM
# ==========================================
.DS_Store
Thumbs.db
.vscode/